body {
    margin: 0;
    font-family: "Lexend Mega", sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: orange;
  }


#main {
    padding-top: 35px;
    opacity: 0.9;
}

div {
    display: block;
}

.mission {
    display: flex;
    height: 300px;
    width: 100%;
    background: url('../images/skyscrapers.jpeg');
    padding-top: 35px;
}

.content {
    background-color: white;
    margin: auto;
    width: 100%;
}

h2, h3, h4, p {
    margin: 0;
    padding: 10px;
 }

h4 {
    display: block;
    /* margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font-weight: bold;
}

.portfolio {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.company img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.company span {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}

.team {
    background: url('../images/background2-blurred-road.jpeg') ;
    padding-top: 70px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 500px;
}

.teammate {
    padding: 10px;
    color: white;
    flex-basis: 280px;
}

.teammate img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
}

.contact, .copyright {
    padding-top: 20px;
}